<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Scotland BookBug</title>
    <br>
    <h2>Keep Reading!!! It's one of the most marvelous adventures anyone can have -:)</h2>
    <br>
  </head>
  <link rel="stylesheet" href="/styles/styles.css">
  <nav>
    <ul>
      <li>
        <a href="/books">Books</a>
        </li>
        <li>
          <a href="/publishers">Publishers</a>
        </li>
        <li>
          <a href="/authors">Authors</a>
        </li>
        <li>
          <a href="/books/new">Add A Book</a>
        </li>
        <li>
          <a href="/authors/new">Add An Author</a>
        </li>
        <li>
          <a href="/publishers/new">Add A Publisher</a>
        </li>
      </ul>
    </nav>
  <body>
<img src="/images/book.jpg" align = "Right" height="950" width="950" alt="books">

    <%= yield %>


  </body>
</html>
