<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Scotland BookBug</title>
  </head>
  <body>
    <%= yield %>
    <nav>
      <ul>
        <li>
          <a href="/books">Books</a>
          </li>
          <li>
            <a href="/publishers">Publishers</a>
          </li>
          <li>
            <a href="/authors">Authors</a>
          </li>
          <li>
            <a href="/books/new">Add A Book</a>
          </li>
        </ul>
      </nav>

  </body>
</html>
