<form method="post" action="/publishers">
  <br>
  <br>
  <br>
  <label for="name">Publisher Name:</label>
  <input
  type="text"
  name="name"
  id="name_field"
  />
  <br>
  <br>
  <br>
  <input type="submit" value="Add A Puiblisher">
</form>
